body {
  margin: 0;
}

nav {
  height: 50px;
  background: midnightblue;
}

.liste {
  height: 100%;
  background: midnightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.items {
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.btn {
  display: none;
}

@media screen and (max-width: 500px) {
  .liste {
    flex-direction: column;
    height: 200px;
  }
  .items:nth-child(1) {
    border-top: 1px solid white;
    margin-top: 50px;
  }
  .items {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid white;
    line-height: 50px;
  }
  .btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    color: white;
    cursor: pointer;
  }
}
